@font-face {
    font-family: "Nunito-Black";
    src: url(Nunito/Nunito-Black.ttf);
}

@font-face {
    font-family: "Nunito-Bold";
    src: url(Nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: "Nunito-ExtraBold";
    src: url(Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: "Nunito-Italic";
    src: url(Nunito/Nunito-Italic.ttf);
}

@font-face {
    font-family: "Nunito-Light";
    src: url(Nunito/Nunito-Light.ttf);
}

@font-face {
    font-family: "Nunito-Medium";
    src: url(Nunito/Nunito-Medium.ttf);
}

@font-face {
    font-family: "Nunito-Regular";
    src: url(Nunito/Nunito-Regular.ttf);
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #F57B51;
    padding: 20px 0;
}

header h1 {
    font-family: "Nunito-Black";
    font-size: xx-large;
}

div#aba {
    text-align: center;
    border-radius: 30px;
    padding-left: 0px;
}

.inline-list {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.inline-list a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: "Nunito-Light";
}

.Receita {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carneB {
    height: 450px;
    border-radius: 32px;
}

.recipe {
    width: 80%;
}

.inline-list li {
    padding: 0 180px;
}

h1 {
    font-family: "Nunito-Black";
}

h2 {
    font-family: "Nunito-Bold";
    background-color: #ddd;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

ul {
    list-style: none;
    font-family: "Nunito-Light";
}

ol {
    font-family: "Nunito-Light";
}

#relogio {
    height: 30px;
}

.steps {
    width: 100%;
}

.steps p {
    text-align: center;
    font-family: "Nunito-Regular";
}

footer {
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #ddd;
    position: relative;
}

footer p {
    font-family: "Nunito-Italic";
}

.inline-list1 {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.inline-list1 a {
    text-decoration: none;
    color: #F57B51;
    font-size: large;
    font-family: "Nunito-Light";
}

.inline-list1 li {
    padding: 0 140px;
}

/* Media Queries */

@media (max-width: 450px) {

    .inline-list,
    .inline-list1 {
        flex-direction: column;
        align-items: center;
    }

    .inline-list li,
    .inline-list1 li {
        padding: 10px 0;
    }

    div#aba {
        padding-left: 0;
    }

    .recipe {
        width: 100%;
    }
}

@media (min-width: 451px) and (max-width: 700px) {

    .inline-list,
    .inline-list1 {
        flex-direction: column;
        align-items: center;
    }

    .inline-list li,
    .inline-list1 li {
        padding: 15px 0;
    }

    div#aba {
        padding-left: 0;
    }

    .recipe {
        width: 80%;
    }
}

@media (min-width: 701px) and (max-width: 1200px) {
    .inline-list {
        justify-content: space-around;
    }

    .inline-list li {
        padding: 0 60px;
    }

    .recipe {
        width: 60%;
    }
}

@media (min-width: 1201px) and (max-width: 1398px) {
    .inline-list {
        justify-content: space-between;
    }

    .inline-list li {
        padding: 0 100px;
    }

    .recipe {
        width: 50%;
    }
}

@media (min-width: 1399px) {
    .inline-list {
        justify-content: space-between;
    }

    .inline-list li {
        padding: 0 180px;
    }

    .recipe {
        width: 45%;
    }
}